OPENAI_API_KEY=tu_openai_api_key
OPENAI_MODEL=gpt-4o-mini

KONG_AI_GATEWAY_URL=http://127.0.0.1:8010/openai/v1/chat/completions

LAKERA_API_KEY=tu_lakera_api_key
LAKERA_PROJECT_ID=tu_lakera_project_id

MCP_SERVER_URL=http://127.0.0.1:9000