OPENAI_API_KEY=sk-proj

OPENAI_MODEL=gpt-4o-mini

KONG_AI_GATEWAY_URL=http://localhost:8000/openai/v1/chat/completions

LAKERA_API_KEY=
LAKERA_PROJECT_ID=project-9089545384
LAKERA_GUARD_URL=https://api.lakera.ai/v2/guard

MCP_SERVER_URL=http://localhost:9000